target/
tmp/
logs/
.lsp/
.lein-failures
.lein-repl-history
.lein-deps-sum
*.sublime-project
*.sublime-workspace
.vagrant
*.war
*.jar
*.log
*.zip
\#*\#
.\#*
pom.xml
version.txt
checkouts/
resources/*_config.json
resources/*root.txt
.nrepl-port
*.swp
*.rdb
*.iml
.idea
